$contentWidth: 400px;
$contentPadding: 16px;

$resourceCardWidth: 380px;
$resourceCardBorderRadius: 10px;
$resourceCardGap: 7px;
$resourceContentVerticlePadding: 6px;
$resourceContentHorzontalPadding: 12px;
$minResourceCardHeight: 80px;
$maxResourceCardHeight: 100px;