@import "_colors.scss";
@import "_resourceCardStyles.scss";
@import "_effects.scss";
@import "_shapes.scss";

:root {
  color-scheme: light dark;
}

body {
  font-family: -apple-system;
  margin: 0;
  font-size: $bodyFontSize;
  background-color: rgba(0, 0, 0, 0);
}

#navbar {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

@supports ((backdrop-filter: initial)) {
  .blurredBg {
    backdrop-filter: saturate(100%) blur(20px);
  }
}

#navbar a {
  display: block;
  padding: 14px 16px;
  width: fit-content;
  margin: auto;
  text-decoration: none;
  font-size: 21px;
  line-height: 1.14286;
  font-weight: 600;
  letter-spacing: 0.011em;
  cursor: pointer;
  white-space: nowrap;
  color: #000;
}

.noselect {
  user-select: none;
  cursor: pointer;
}
.content {
  padding: $contentPadding;
  width: $contentWidth;
  position: relative;
  top: $contentTop;
  transition: all 0.5s ease-in-out;
}

.content .titleBar {
  font-size: 17px;
  font-weight: bolder;
  margin-bottom: 13px;
  margin-top: 0px;
  display: grid;
  opacity: 1;
  grid-template-columns: 1fr 0fr 0fr;
  font-variant-caps: titling-caps;
  transition: all 0.5s ease-in-out;
}

.content .titleBar.collapsed {
  z-index: 0;
  opacity: 0;
}

#collapseButton {
  font-size: 11px;
  font-weight: normal;
  border-radius: 12px;
  height: 24px;
  width: 72px;
  white-space: nowrap;
  background-color: rgba(185, 185, 185, 0.3);
  background-repeat: no-repeat;
  background-size: 12px 10px;
  background-position: right 5px top 4px;
  border-color: #0000;
  color: #000;
  box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.6);
  transition: all 0.5s ease-in-out;
}

#collapseButton.squeezed {
  width: 24px;
  background-image: url($collapseButton);
  color: rgba(0, 0, 0, 0);
  transition: all 0.5s ease-in-out;
}

#collapseButton:active {
  color: #000;
}

#changeAllButton {
  margin-left: 8px;
  display: inline-block;
  border-radius: 12px;
  height: 24px;
  width: 72px;
  background-image: none;
  background-position: left 3px center;
  background-repeat: no-repeat;
  background-size: 12px 10px;
  box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.6);
  transition: all 0.5s ease-in-out;
}

#changeAllButton.squeezed {
  width: 24px;
  background-image: url($changeAll);
  color: rgba(0, 0, 0, 0);
}

.infoContainer {
  width: $resourceCardWidth;
  margin-top: $resourceCardGap;
  height: fit-content;
  background-color: $resourceCardBgColor;
  display: grid;
  grid-template-rows: unset;
  padding: 6px 12px 9px 9px;
  border-radius: $resourceCardBorderRadius;
  box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
}

.infoContainer.collapsed {
  margin-top: -50px; // 7-37
}
.infoContainer .infoCategory {
  padding-top: 0.3rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.infoContainer .infoCategory .name {
  text-align: left;
  color: rgb(105, 105, 105);
  font-size: 13px;
  font-weight: normal;
  letter-spacing: 0.011em;
  display: grid;
  grid-template-columns: 0fr 1fr;
}

.infoContainer .infoCategory .name .statusContainer {
  width: 20px;
  height: 20px;
}

.infoContainer .infoCategory .name a {
  margin-top: 1.5px;
  margin-left: 5px;
}

.infoContainer .infoCategory .time {
  padding-top: 0.13rem;
  text-align: right;
  color: rgb(113, 113, 113);
  font-size: 11px;
}

.infoContainer .actions {
  position: absolute;
  bottom: 6px;
  right: 6px;
  transition: color 0.5s cubic-bezier(0.28, 0.11, 0.32, 1);
}

.infoContainer .actions .form-select {
  opacity: 0;
  box-shadow: -7px -7px 24px rgba(255, 255, 255, 0.4);
}

.infoContainer .actions .form-select option {
  word-wrap: break-word;
}

.infoContainer .infoContent .url {
  padding-top: 0.4rem;
  padding-bottom: 0.3rem;
  font-size: 12px;
  font-weight: normal;
  word-break: break-all;
}

.infoContainer .infoContent .url a {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.form-select {
  display: block;
  width: 100%;
  padding: 0.17rem 0.5rem 0.17rem 0.5rem;
  font-size: 10px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: rgba(185, 185, 185, 0.3);
  background-image: url($chevronUpDown);
  background-repeat: no-repeat;
  background-position: right 0.4rem center;
  background-size: 12px 10px;
  border: 1px solid #fff0;
  border-radius: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form-select:focus {
  border-color: #fff0;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.25);
}
.form-select[multiple],
.form-select[size]:not([size="1"]) {
  padding-right: 0.75rem;
  background-image: none;
}
.form-select:disabled {
  color: #6c757d;
  background-color: #e9ecef;
}
.form-select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #212529;
}
@media (prefers-color-scheme: dark) {
  /* Dark Mode styles go here. */
  #navbar a {
    color: #fff;
  }
  .infoContainer {
    background-color: rgba(32, 32, 32, 0.58);
  }

  .rounded {
    border: 1px solid rgba(90, 90, 90, 0.72) !important;
    box-shadow: 0px 3px 20px 0px rgba(90, 90, 90, 0.2),
      0 -3px 20px 0 rgba(70, 68, 68, 0.2);
  }

  .infoCategory .name {
    color: rgb(184, 184, 184);
  }
  .infoCategory .time {
    color: rgb(179, 179, 179);
  }
}
