@import "colors";
@import "effects";
@import "navbar";
@import "resourceCardStyles";
@import "resourceInfo";
@import "select";
@import "titleBar";

:root {
  color-scheme: light dark;
}

body {
  font-family: -apple-system;
  margin: 0;
  font-size: $bodyFontSize;
  background-color: rgba(0, 0, 0, 0);
}

.noselect {
  user-select: none;
  cursor: pointer;
}

.content {
  margin-top: 30px;
  padding: $contentPadding;
  width: $contentWidth;
  position: relative;
  top: $contentTop;
  transition: all 0.5s ease-in-out;
}
