<template id="resourceStatusTemplate">
  <div class="infoContainer blurredBg">
    <div class="contentArea">
      <div class="infoCategory">
        <div id="resourceName" class="name">
          <div class="statusContainer"></div>
          <a class="domain"></a>
        </div>
        <div id="resourceTime" class="time">
          <a></a>
        </div>
      </div>

      <div class="infoContent">
        <div id="resourceURL" class="url">
          <a></a>
        </div>
      </div>
    </div>

    <div class="actions">
      <select class="form-select blurredBg" id="optionsContainer"></select>
    </div>
  </div>
</template>

<template id="titleBarTemplate">
  <div class="titleBar collapsed">
    <a></a>
    <button id="collapseButton" type="button">Show Less</button>
    <select class="blurredBg form-select squeezed" id="changeAllButton">
      <option selected>Change All</option>
    </select>
  </div>
</template>
