<template id="resourceStatusTemplate">
    <div class="module-bg bg-blurred">
        <div class="module-category">
            <div id="resourceName" class="name">
                <a></a>
            </div>
            <div id="resourceTime" class="time">
                <a></a>
            </div>
        </div>

        <div class="module-content">
            <div>
                <div id="resourceURL" class="url">
                    <a></a>
                </div>
            </div>

            <div>
                <div class="actions">
                    <select class="form-select bg-blurred" id="optionsContainer"></select>
                </div>
            </div>
        </div>
    </div>
</template>